@charset "utf-8";
body {
  background-color: var(--bg-color-ivory);
  font-family: var(--primary-font-en1);
  white-space: nowrap;
  box-sizing: border-box;
}

/***** header *****/
header .gnb-menu {
  display: none;
}

/***** main *****/
/*** main-container ***/
main .main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

main .main-container .main-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
#first,
#second,
#third,
#last {
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  animation: draw 2s linear forwards;
}
#second,
#third,
#last {
  animation-delay: 1.11s;
}
#third,
#last {
  animation-delay: 2.2s;
}

#last {
  animation-delay: 4.15s;
}

main .main-container .main-top-deco .right-circle {
  position: absolute;
  top: 70px; right: 190px;
  transition: .3s;
  animation: sangha infinite .7s ease-in-out;
}

main .main-container .main-top-deco .right-small-shine {
  position: absolute;
  top: 120px; right: 80px;
  transition: .3s;
  animation: heundeul infinite .7s ease-in-out;
}

main .main-container .main-top-deco .right-big-shine {
  position: absolute;
  top: 180px; right: 140px;
  transition: .3s;
  animation: binggle infinite 2.5s ease-in-out;
}

main .main-container .main-bottom-deco .left-plus {
  position: absolute;
  bottom: 210px; left: 70px;
  transition: .3s;
  animation: binggle infinite 2.5s ease-in-out;
}

main .main-container .main-bottom-deco .left-triangle {
  position: absolute;
  bottom: 120px; left: 150px;
  transition: .3s;
  animation: heundeul infinite .7s ease-in-out;
}

main .main-container .main-bottom-deco .left-big-circle {
  position: absolute;
  bottom: 280px; left: 200px;
  transition: .3s;
  animation: sangha infinite .7s ease-in-out;
}

main .main-container .main-bottom-deco .left-small-circle {
  position: absolute;
  bottom: 170px; left: 270px;
  transition: .3s;
  animation: jwawoo infinite .7s ease-in-out;
}

@keyframes heundeul {
  0%, 100% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(0) rotate(-5deg);
  }
}

@keyframes binggle {
  0%, 100% {
    transform: translateX(0) rotate(180deg);
  }
  50% {
    transform: translateX(0) rotate(-180deg);
  }
}

@keyframes sangha {
  0%, 100% {
    transform: translateX(0) translateY(5px) rotate(-5deg);
  }
  50% {
    transform: translateX(0) translateY(-5px) rotate(5deg);
  }
}

@keyframes jwawoo {
  0%, 100% {
    transform: translateX(5px) translateY(0) rotate(-5deg);
  }
  50% {
    transform: translateX(-5px) translateY(0) rotate(5deg);
  }
}


main .main-container .title-wrapper {
  place-content: center;
  width: 100%;
  height: 100%;
}

main .main-container .title-wrapper .title-box .first-title {
  font-size: var(--title-size-ssx);
  color: var(--list-color1);
  font-weight: 900;
  line-height: 0.8;
  animation-name: title;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}

main .main-container .title-wrapper .title-box .second-title {
  font-size: var(--title-size-ssx);
  color: var(--list-color2);
  font-weight: 900;
  line-height: 0.8;
  animation-name: title;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

main .main-container .title-wrapper .title-box .third-title {
  font-size: var(--title-size-ssx);
  color: var(--list-color3);
  font-weight: 900;
  justify-self: end;
  line-height: 0.8;
  animation-name: title;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

main .main-container .title-wrapper .title-box {
  position: relative;
  overflow: hidden;
}

main .main-container .title-wrapper .title-box .title {
  display: inline;
  position: relative;
}

@keyframes title {
  0% {
    top: 150px;
  }
  98% {
    top: -5px;
  }
  100% {
    top: 0%;
  }
}

/*** move-text-container ***/
.move-text-container {
  position: relative;
  overflow: hidden;
  background: var(--list-color2);
  height: 80px;
  line-height: 80px;
  margin: 50px 0;
}

.move-text-container .move-text-box {
  position: absolute;
  right: 0;
  width: 100%;
}

.move-text-container .move-text-box .move-text {
  display: inline-block;
  font-size: var(--desc-size-md);
  font-weight: 900;
  color: var(--bg-color-ivory);
  /* -webkit-text-stroke: 5px #fff; */
  white-space: nowrap;
}

/*** about-container ***/
main .about-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .about-container .about-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

main .about-container .about-wrapper .about-text li,
main .about-container .about-wrapper .about-box .me-text li {
  font-family: var(--primary-font-en2);
  color: var(--list-color3);
  font-size: var(--title-size-md);
}

main .about-container .about-wrapper .about-text {
  padding-top: 100px;
}

main .about-container .about-wrapper .about-box {
  justify-content: space-between;
  align-items: center;
}

main .about-container .about-wrapper .about-box .me-text {
  padding-right: 300px;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box {
  padding-right: 200px;
  text-align: right;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box h3 {
  font-family: var(--primary-font-ko);
  font-size: var(--desc-size-sm);
  font-weight: 400;
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box h3 span {
  font-family: var(--primary-font-ko);
  font-weight: 500;
  font-size: 25px;
  background-color: var(--list-color3);
  color: var(--list-color5);
  padding: 0 3px;
}

main .about-container .about-wrapper .about-box .intro-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  font-size: var(--desc-size-sx);
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box {
  justify-content: flex-end;
  padding-top: 18px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a {
  font-family: var(--primary-font-ko);
  color: var(--list-color3);
  font-size: var(--desc-size-sx);
  font-weight: 600;
  border: 3px solid var(--list-color3);
  border-radius: var(--primary-radius);
  padding: 8px 22px;
  margin-left: 20px;
  display: block;
  cursor: context-menu;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a figure .hover-img {
  width: 600px;
  position: absolute;
  top: 50%; left: 30%;
  transform: translate(-50%, -50%);
  display: none;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a figure .circle-text {
  width: 680px;
  position: absolute;
  top: 50%; left: 30%;
  transform: translate(-50%, -50%);
  animation: rotate_image 12s linear infinite;
  transform-origin: center center;
  display: none;
}

@keyframes rotate_image{
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a:hover {
  background-color: var(--list-color3);
  color: var(--list-color4);
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a:hover .hover-img {
  display: block;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a:hover .circle-text {
  display: block;
}

main .about-container .about-wrapper .fly-in li,
main .about-container .about-wrapper .about-box .fly-in li {
  display: inline-block;
  margin-right: 30px;
  opacity: 1;
  transition: all 2.8s cubic-bezier(0.6, -.005, 0.32, 1.75);
  padding: 0 20px;
}

main .about-container .about-wrapper .fly-in.hidden li,
main .about-container .about-wrapper .about-box .fly-in.hidden li {
  opacity: 0;
}

main .about-container .about-wrapper .fly-in.hidden li:nth-child(1) {
  transform: translateX(150px) translateY(-170px); 
}
main .about-container .about-wrapper .fly-in.hidden li:nth-child(2) {
  transform: translateX(-210px) translateY(170px); 
}
main .about-container .about-wrapper .fly-in.hidden li:nth-child(3) {
  transform: translateX(20px) translateY(-100px); 
}
main .about-container .about-wrapper .fly-in.hidden li:nth-child(4) {
  transform: translateX(-100px) translateY(-20px); 
}
main .about-container .about-wrapper .fly-in.hidden li:nth-child(5) {
  transform: translateX(-70px) translateY(-200px); 
}

/*** skill-container ***/
main .skill-container {
  width: 100%;
  height: 100vh;
}

main .skill-container .skill-box {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 346px 346px;
  gap: 30px;
  place-content: center;
  width: 100%;
  height: 100%;
  padding: 0 172px;
}

main .skill-container .skill-box li {
  background-color: var(--list-color4);
  border-radius: 20px;
  padding: 50px 39px;
}

main .skill-container .skill-box li:hover {
  background-color: var(--list-color2);
  color: var(--list-color5);
}

main .skill-container .skill-box li:hover h3 {
  color: var(--list-color4);
}

main .skill-container .skill-box li:nth-of-type(1),
main .skill-container .skill-box li:nth-of-type(3) {
  text-align: right;
}

main .skill-container .skill-box li h3 {
  font-size: var(--desc-size-md);
  color: var(--list-color1);
  padding-bottom: 57px;
}

main .skill-container .skill-box li p {
  padding-top: 15px;
  font-family: var(--primary-font-ko);
  font-size: var(--desc-size-sx);
}

/*** project-container ***/
main .project-container:hover {
  cursor: none;
}

main .project-container .ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: var(--list-color3);
  color: #fff;
  font-size: var(--desc-size-sx);
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  opacity: .8;
}

/*** project-box ***/
main .project-container .project-box .title {
  opacity: 0;
  transform: translateY(500px);
  transition: all 1.2s ease;
}

main .project-container .project-box.show .title {
  opacity: 1;
  transform: translateY(0);
}

/* rise-box  */
main .project-container .rise-box {
  width: 100%;
  height: 100vh;
  /* background-color: #ddd; */
  position: relative;
}

main .project-container .rise-box h2 {
  font-size: var(--title-size-xxl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 211px;
}

main .project-container .rise-box h3 {
  font-size: var(--title-size-sx);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 92px;
}

main .project-container .rise-box .rise-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .rise-box .rise-text-box h3 {
  padding-top: 33px;
}

main .project-container .rise-box .rise-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: right;
  line-height: 1.4;
  padding-right: 20px;
}

main .project-container .rise-box img {
  position: absolute;
  top: 121px;
  left: 810px;
}

/* everparking-box */
main .project-container .everparking-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .project-container .everparking-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  text-align: right;
  padding-top: 307px;
}

main .project-container .everparking-box .everparking-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .everparking-box .everparking-text-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 94px;
}

main .project-container .everparking-box .everparking-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  line-height: 1.4;
  padding-left: 20px;
  text-align: left;
}

main .project-container .everparking-box img {
  position: absolute;
  top: 40px;
  left: 260px;
}

/* vivienne-box */
main .vivienne-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .vivienne-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 159px;
}

main .vivienne-box .vivienne-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .vivienne-box .vivienne-text-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 42px;
}

main .vivienne-box .vivienne-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: right;
  line-height: 1.4;
  padding-right: 20px;
}

main .vivienne-box h3 {
  font-size: var(--title-size-sm);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 29px;
}

main .vivienne-box img {
  position: absolute;
  top: 36px;
  left: 810px;
}

/***** footer *****/
/* footer .contact-container h3 {
  display: inline-block;
  transform-origin: center;
  color: var(--list-color6);
  animation: animate 1.8s infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */