@charset "utf-8";
body {
  background-color: var(--bg-color-ivory);
  font-family: var(--primary-font-en1);
  white-space: nowrap;
  box-sizing: border-box;
}

/***** header *****/
header .gnb-menu {
  display: none;
}

/***** main *****/
/*** main-container ***/
main .main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

main .main-container .main-top {
  position: absolute;
  top: 70px;
  right: 62px;
}

main .main-container .main-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

main .main-container .main-bottom {
  position: absolute;
  bottom: 70px;
  left: 62px;
}

main .main-container .main-desc {
  place-content: center;
  width: 100%;
  height: 100%;
}

main .main-container .main-desc .first-desc {
  font-size: var(--title-size-ssx);
  color: var(--list-color1);
  font-weight: 900;
  line-height: 0.8;
}

main .main-container .main-desc .second-desc {
  font-size: var(--title-size-ssx);
  color: var(--list-color2);
  font-weight: 900;
  line-height: 0.8;
}

main .main-container .main-desc .third-desc {
  font-size: var(--title-size-ssx);
  color: var(--list-color3);
  font-weight: 900;
  justify-self: end;
  line-height: 0.8;
}

/*** about-container ***/
main .about-container {
  width: 100%;
  height: 100vh;
}

main .about-container .about-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

main .about-container .about-wrapper h2 {
  font-family: var(--primary-font-en2);
  color: var(--list-color3);
  font-size: var(--title-size-md);
}

main .about-container .about-wrapper .about-text {
  padding-top: 100px;
}

main .about-container .about-wrapper .about-box {
  justify-content: space-between;
  align-items: center;
}

main .about-container .about-wrapper .about-box .me-text {
  padding-right: 400px;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box {
  padding-right: 100px;
  text-align: right;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box h3 {
  font-family: var(--primary-font-ko);
  font-size: var(--desc-size-sm);
  font-weight: 400;
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box h3 span {
  font-family: var(--primary-font-ko);
  font-weight: 500;
  font-size: 25px;
  background-color: var(--list-color3);
  color: var(--list-color5);
  padding: 0 3px;
}

main .about-container .about-wrapper .about-box .intro-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  font-size: var(--desc-size-sx);
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box {
  justify-content: flex-end;
  padding-top: 18px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a {
  font-family: var(--primary-font-ko);
  color: var(--list-color3);
  font-size: var(--desc-size-sx);
  font-weight: 600;
  border: 3px solid var(--list-color3);
  border-radius: var(--primary-radius);
  padding: 8px 22px;
  margin-left: 20px;
  display: block;
  cursor: context-menu;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a:hover {
  background-color: var(--list-color3);
  color: var(--list-color4);
}

/* move-text-container */
.move-text-container {
  position: relative;
  overflow: hidden;
  background: var(--list-color2);
  height: 80px;
  line-height: 80px;
}

.move-text-container .move-text-box {
  position: absolute;
  right: 0;
  width: 100%;
}

.move-text-container .move-text-box .move-text {
  display: inline-block;
  font-size: var(--desc-size-md);
  font-weight: 900;
  color: var(--bg-color-ivory);
  /* -webkit-text-stroke: 5px #fff; */
  white-space: nowrap;
}

/*** skill-container ***/
main .skill-container {
  width: 100%;
  height: 100vh;
}

main .skill-container .skill-box {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 346px 346px;
  gap: 30px;
  place-content: center;
  width: 100%;
  height: 100%;
  padding: 0 172px;
}

main .skill-container .skill-box li {
  background-color: var(--list-color4);
  border-radius: 20px;
  padding: 50px 39px;
}

main .skill-container .skill-box li:hover {
  background-color: var(--list-color2);
  color: var(--list-color5);
}

main .skill-container .skill-box li:hover h3 {
  color: var(--list-color4);
}

main .skill-container .skill-box li:nth-of-type(1),
main .skill-container .skill-box li:nth-of-type(3) {
  text-align: right;
}

main .skill-container .skill-box li h3 {
  font-size: var(--desc-size-md);
  color: var(--list-color1);
  padding-bottom: 57px;
}

main .skill-container .skill-box li p {
  padding-top: 15px;
  font-family: var(--primary-font-ko);
  font-size: var(--desc-size-sx);
}

/*** project-container ***/
main .project-container:hover {
  cursor: none;
}

main .project-container .ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: var(--list-color3);
  color: #fff;
  font-size: var(--desc-size-sx);
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  opacity: .8;
}

/*** project-box ***/
main .project-container .project-box .title {
  opacity: 0;
  transform: translateY(500px);
  transition: all 1.2s ease;
}

main .project-container .project-box.show .title {
  opacity: 1;
  transform: translateY(0);
}

/* rise-box  */
main .project-container .rise-box {
  width: 100%;
  height: 100vh;
  /* background-color: #ddd; */
  position: relative;
}

main .project-container .rise-box h2 {
  font-size: var(--title-size-xxl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 211px;
}

main .project-container .rise-box h3 {
  font-size: var(--title-size-sx);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 92px;
}

main .project-container .rise-box .rise-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .rise-box .rise-text-box h3 {
  padding-top: 33px;
}

main .project-container .rise-box .rise-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: right;
  line-height: 1.4;
  padding-right: 20px;
}

main .project-container .rise-box img {
  position: absolute;
  top: 121px;
  left: 810px;
}

/* everparking-box */
main .project-container .everparking-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .project-container .everparking-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  text-align: right;
  padding-top: 307px;
}

main .project-container .everparking-box .everparking-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .everparking-box .everparking-text-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 94px;
}

main .project-container .everparking-box .everparking-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  line-height: 1.4;
  padding-left: 20px;
  text-align: right;
}

main .project-container .everparking-box img {
  position: absolute;
  top: 40px;
  left: 260px;
}

/* vivienne-box */
main .vivienne-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .vivienne-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 159px;
}

main .vivienne-box .vivienne-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .vivienne-box .vivienne-text-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 42px;
}

main .vivienne-box .vivienne-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
  padding-right: 20px;
}

main .vivienne-box h3 {
  font-size: var(--title-size-sm);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 29px;
}

main .vivienne-box img {
  position: absolute;
  top: 36px;
  left: 810px;
}

/***** footer *****/
footer .contact-container h3 {
  display: inline-block;
  transform-origin: center;
  color: var(--list-color6);
  animation: animate 1.8s infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}