@charset "utf-8";
body {
  background-color: var(--bg-color-ivory);
  font-family: var(--primary-font-en1);
  white-space: nowrap;
  box-sizing: border-box;
}

/***** header *****/
header .gnb-menu {
  display: none;
}

/***** main *****/
/*** main-container ***/
main .main-container {
  width: 100%; height: 100vh;
  position: relative;
}

main .main-container .main-content .main-text,
main .main-container .main-content .main-cat {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

main .main-container .top-shine .top-lg-shine {
  width: 80px;
  position: absolute;
  top: 100px;
  left: 120px;
}

main .main-container .top-shine .top-md-shine {
  width: 60px;
  position: absolute;
  top: 60px;
  left: 60px;
}

main .main-container .bottom-shine .bottom-lg-shine {
  width: 80px;
  position: absolute;
  bottom: 120px;
  right: 60px;
}

main .main-container .bottom-shine .bottom-md-shine {
  width: 60px;
  position: absolute;
  bottom: 60px;
  right: 140px;
}

main .main-container .bottom-shine .bottom-sm-shine {
  width: 40px;
  position: absolute;
  bottom: 180px;
  right: 180px;
}

/* move-text-container */
.move-text-container {
  position: relative;
  overflow: hidden;
  background: var(--list-color2);
  height: 80px;
  line-height: 80px;
  margin-top: 100px;
}

.move-text-container .move-text-box {
  position: absolute;
  right: 0;
  width: 100%;
}

.move-text-container .move-text-box .move-text {
  display: inline-block;
  font-size: var(--desc-size-md);
  font-weight: 900;
  color: var(--bg-color-ivory);
  /* -webkit-text-stroke: 5px #fff; */
  white-space: nowrap;
}

/*** about-container ***/
main .about-container {
  width: 100%;
  height: 100vh;
}

main .about-container .about-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

main .about-container .about-wrapper .about-text li,
main .about-container .about-wrapper .about-box .me-text li {
  font-family: var(--primary-font-en2);
  color: #000;
  font-size: var(--title-size-md);
}

main .about-container .about-wrapper .about-text {
  padding-top: 100px;
}

main .about-container .about-wrapper .about-box {
  justify-content: space-between;
  align-items: center;
}

main .about-container .about-wrapper .about-box .me-text {
  padding-right: 400px;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box {
  padding-right: 100px;
  text-align: right;
  padding-bottom: 100px;
}

main .about-container .about-wrapper .about-box .intro-box h3 {
  font-family: var(--primary-font-ko);
  font-size: var(--desc-size-sm);
  font-weight: 400;
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box h3 span {
  font-family: var(--primary-font-ko);
  font-weight: 500;
  font-size: 25px;
  background-color: var(--list-color3);
  color: var(--list-color5);
  padding: 0 3px;
}

main .about-container .about-wrapper .about-box .intro-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  font-size: var(--desc-size-sx);
  padding-bottom: 10px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box {
  justify-content: flex-end;
  padding-top: 18px;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a {
  font-family: var(--primary-font-ko);
  color: var(--list-color3);
  font-size: var(--desc-size-sx);
  font-weight: 600;
  border: 3px solid var(--list-color3);
  border-radius: var(--primary-radius);
  padding: 8px 22px;
  margin-left: 20px;
  display: block;
  cursor: context-menu;
}

main .about-container .about-wrapper .about-box .intro-box .intro-tag-box li a:hover {
  background-color: var(--list-color3);
  color: var(--list-color4);
}

.fly-in{
  list-style: none;
}
.fly-in li {
  display: inline-block;
  margin-right: 30px;
  /* font-family: sans-serif,helvetica;
  font-weight: 300;
  font-size: 32px;
  color: #000000; */
  opacity: 1;
  transition: all 2.8s cubic-bezier(0.6, -.005, 0.32, 1.75);
}
.fly-in.hidden li {
  opacity: 0;
}
.fly-in.hidden li:nth-child(1) {
  transform: translateX(150px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(2) {
  transform: translateX(-210px) translateY(170px); 
}
.fly-in.hidden li:nth-child(3) {
  transform: translateX(20px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(4) {
  transform: translateX(-100px) translateY(-20px); 
}
.fly-in.hidden li:nth-child(5) {
  transform: translateX(-70px) translateY(-200px); 
}
.fly-in.hidden li:nth-child(6) {
  transform: translateX(200px) translateY(70px); 
}
.fly-in.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px); 
}
.fly-in.hidden li:nth-child(8) {
  transform: translateX(30px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(9) {
  transform: translateX(100px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(10) {
  transform: translateX(-100px) translateY(50px); 
}
.fly-in.hidden li:nth-child(11) {
  transform: translateX(-550px) translateY(120px); 
}
.fly-in.hidden li:nth-child(12) {
  transform: translateX(-40px) translateY(-50px); 
}

/*** skill-container ***/
main .skill-container {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

main .skill-container h3 {
  padding-top: 50px;
  font-size: var(--list-color3);
}

main .skill-container .skill-box {
  padding-top: 200px;
}

main .skill-container .skill-box .hover-box {
  display: none;
}

main .skill-container .skill-box li h2 {
  font-size: var(--title-size-sxx);
  border-top: 2px solid #000;
  padding: 30px 35px;
}

main .skill-container .skill-box li:last-child {
  border-bottom: 2px solid #000;
}

/*** project-container ***/
main .project-container:hover {
  cursor: none;
}

main .project-container .ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: var(--list-color3);
  color: #fff;
  font-size: var(--desc-size-sx);
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  opacity: .8;
}

/*** project-box ***/
main .project-container .project-box .title {
  opacity: 0;
  transform: translateY(500px);
  transition: all 1.2s ease;
}

main .project-container .project-box.show .title {
  opacity: 1;
  transform: translateY(0);
}

/* rise-box  */
main .project-container .rise-box {
  width: 100%;
  height: 100vh;
  /* background-color: #ddd; */
  position: relative;
}

main .project-container .rise-box h2 {
  font-size: var(--title-size-xxl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 211px;
}

main .project-container .rise-box h3 {
  font-size: var(--title-size-sx);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 92px;
}

main .project-container .rise-box .rise-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .rise-box .rise-text-box h3 {
  padding-top: 33px;
}

main .project-container .rise-box .rise-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: right;
  line-height: 1.4;
  padding-right: 20px;
}

main .project-container .rise-box img {
  position: absolute;
  top: 121px;
  left: 810px;
}

/* everparking-box */
main .project-container .everparking-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .project-container .everparking-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  text-align: right;
  padding-top: 307px;
}

main .project-container .everparking-box .everparking-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .project-container .everparking-box .everparking-text-box h2 {
  font-size: var(--title-size-lg);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 94px;
}

main .project-container .everparking-box .everparking-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  line-height: 1.4;
  padding-left: 20px;
  text-align: right;
}

main .project-container .everparking-box img {
  position: absolute;
  top: 40px;
  left: 260px;
}

/* vivienne-box */
main .vivienne-box {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .vivienne-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 159px;
}

main .vivienne-box .vivienne-text-box {
  justify-content: space-between;
  align-items: flex-end;
}

main .vivienne-box .vivienne-text-box h2 {
  font-size: var(--title-size-xl);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 42px;
}

main .vivienne-box .vivienne-text-box p {
  font-family: var(--primary-font-ko);
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
  padding-right: 20px;
}

main .vivienne-box h3 {
  font-size: var(--title-size-sm);
  font-weight: 900;
  line-height: 0.7;
  padding-top: 29px;
}

main .vivienne-box img {
  position: absolute;
  top: 36px;
  left: 810px;
}

/***** footer *****/
footer .contact-container h3 {
  display: inline-block;
  transform-origin: center;
  color: var(--list-color6);
  animation: animate 1.8s infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}