@charset "utf-8";
/*** 폰트 설정 ***/
/* 'Pretendard', sans-serif */
@import url(./pretendard-subset.css);

/* 'GmarketSans', sans-serif */
/* weight 300 : light / 500 : medium / 700 : bold */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 'S-CoreDream', sans-serif */
@import url(./S-CoreDream.css);

/* 'CWDangamAsac-Bold', sans-serif */
@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*** 변수 설정 ***/
:root {
  /* fonts */
  --primary-font-en1: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-font-en2: 'CWDangamAsac-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-font-ko: 'Pretendard', -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  /* index 페이지 폰트 크기 */
  --title-size-xxl: 380px;
  --title-size-xl: 350px;
  --title-size-lg: 330px;
  --title-size-md: 250px;
  --title-size-sm: 200px;
  --title-size-sx: 180px;
  --title-size-ssx: 120px;

  --desc-size-md: 40px;
  --desc-size-sm: 24px;
  --desc-size-sx: 20px;
  --desc-size-sxx: 18px;

  /* project 상세 페이지 폰트 크기 */
  --project-size-xxl: 28px;
  --project-size-xl: 24px;
  --project-size-lg: 22px;
  --project-size-md: 20px;
  --project-size-sm: 18px;
  --project-size-xs: 16px;

  /* color */
  --bg-color-ivory: #FFFDF5;

  --color-red: #D56270;
  --color-yellow: #EFD07A;
  --color-lightgreen: #B3C2AB;
  --color-green: #6a836f;
  --color-blue: #5F7BCD;
  --color-beige: #F3EBDF;
  --color-white: #fff;
  --point-color: #FF416E;

  --900-black: #000;
  --800-black: #111;
  --700-black: #333;
  --600-black: #444;

  /* 기타 */
  --primary-radius: 100px;

  /* 드래그 */
  ::selection {
    background-color: var(--color-yellow);
    color: var(--900-black);
  }

  /* 스크롤바 */
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--bg-color-ivory);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-green);
  }

  /* 공통 */
  .side-padding {
    padding: 0 62px;
  }

  .flex-wrapper {
    display: flex;
  }

  .grid-wrapper {
    display: grid;
  }

  .block-wrapper {
    display: block;
  }

  /***** header *****/
  /* menu */
  header .gnb-menu.show-menu {
    display: block;
    z-index: -999;
  }

  header .gnb-container {
    position: fixed;
    top: 5%;
    right: 50px;
    z-index: 9999;
  }

  header .gnb-container .gnb-button {
    background-color: var(--color-green);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  header .gnb-container .gnb-button:hover {
    background-color: var(--color-lightgreen);
  }

  header .gnb-container .gnb-button span {
    display: block;
    width: 45px;
    height: 4px;
    background-color: var(--color-white);
  }

  header .gnb-container .gnb-button .bar2 {
    width: 45px;
    margin: 10px 0;
  }

  header .gnb-container .gnb-button.toggle-btn .bar1 {
    transform: translateY(13.5px) rotate(45deg);
  }

  header .gnb-container .gnb-button.toggle-btn .bar2 {
    transform: scale(0);
  }

  header .gnb-container .gnb-button.toggle-btn .bar3 {
    transform: translateY(-13.5px) rotate(-45deg);
  }

  header .transit {
    transition: 0.3s;
  }

  header .gnb-menu {
    background-color: var(--800-black);
    color: var(--color-white);
    width: 650px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 48px;
    font-family: var(--primary-font-en1);
    font-weight: 500;
    padding-top: 120px;
  }

  header .gnb-menu li {
    padding: 40px 0 0 100px;
  }

  header .gnb-menu li a:hover {
    border-bottom: 2px solid #fff;
  }

  header .gnb-menu .gnb-desc {
    font-size: var(--desc-size-sx);
    color: var(--color-white);
    position: absolute;
    bottom: 70px;
    right: 50px;
    text-align: right;
  }

  header .gnb-menu .gnb-desc li {
    padding-top: 7px;
  }
}